<input id="{{vm.options.formElement}}" name="{{vm.options.formElement}}" hidden="hidden" ng-model="vm.ngModel.$viewValue" ng-if="vm.options.formElement"/>
<div class="{{::vm.options.containerClass}}">
    <button type="button" class="{{::vm.options.toggleClass}}" ng-click="vm.toggleDropdown()" ng-disabled="vm.options.disabled">
        {{vm.getButtonText()}}&nbsp;<span class="caret"></span>
    </button>
    <ul class="{{::vm.options.dropdownClass}}" ng-show="vm.open" style="display:block"
        ng-mouseenter="vm.isMouseOver = true" ng-mouseleave="vm.isMouseOver = false">

        <li ng-show="vm.options.showSelectAll">
            <a ng-click="vm.selectAll()" href="">
                <span class="glyphicon glyphicon-ok"></span> Select All
            </a>
        </li>
        <li ng-show="vm.options.showUnselectAll">
            <a ng-click="vm.unselectAll()" href="">
                <span class="glyphicon glyphicon-remove"></span> Unselect All
            </a>
        </li>
        <li ng-show="(vm.options.showSelectAll || vm.options.showUnselectAll)" class="divider">
        </li>

        <li ng-if="vm.hasSelectedPageUp" ng-class="{disabled: !vm.canSelectedPageUp}">
            <a href="" ng-click="vm.selectedPageUp(); $event.stopPropagation()" class="text-center">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
        </li>
        <li role="presentation" ng-repeat="item in vm.selectedItemsView" class="active">
            <a class="item-selected" href="" ng-click="vm.toggleItem(item); $event.stopPropagation()">
                <span class="glyphicon glyphicon-remove" ng-if="vm.options.selectionLimit !== 1"></span> {{vm.getDisplay(item)}}
            </a>
        </li>
        <li ng-if="vm.hasSelectedPageDown" ng-class="{disabled: !vm.canSelectedPageDown}">
            <a href="" ng-click="vm.selectedPageDown(); $event.stopPropagation()" class="text-center">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
        </li>
        <li ng-show="vm.selectedItems.length > 0" class="divider"></li>

        <li ng-show="vm.options.showSearch && vm.unselectedItems.length > 0">
            <div class="dropdown-header">
                <input type="text" class="{{::vm.options.searchClass}}" ng-model="vm.searchFilter" placeholder="Search..." ng-change="vm.update()" />
            </div>
        </li>
        <li ng-show="vm.options.showSearch && vm.unselectedItems.length > 0" class="divider"></li>
        
        <li ng-if="vm.hasUnselectedPageUp" ng-class="{disabled: !vm.canUnselectedPageUp}">
            <a href="" ng-click="vm.unselectedPageUp(); $event.stopPropagation()" class="text-center">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
        </li>
        <li role="presentation" ng-repeat="item in vm.unselectedItemsView" ng-class="{disabled : !vm.canSelectItem}">
            <a class="item-unselected" href="" ng-click="vm.toggleItem(item); $event.stopPropagation()">
                {{vm.getDisplay(item)}}
            </a>
        </li>
        <li ng-if="vm.hasUnselectedPageDown" ng-class="{disabled: !vm.canUnselectedPageDown}">
            <a href="" ng-click="vm.unselectedPageDown(); $event.stopPropagation()" class="text-center">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
        </li>

        <li class="divider" ng-show="vm.options.selectionLimit > 1"></li>
        <li role="presentation" ng-show="vm.options.selectionLimit > 1">
            <a>{{vm.selectedItems.length || 0}} / {{vm.options.selectionLimit}} selected</a>
        </li>
    </ul>
</div>
<div ng-show="false" ng-transclude></div>