<div class="{{::containerClass}}">
    <button type="button" class="{{::toggleClass}}" ng-click="toggleDropdown()" ng-disabled="disabled">
        {{getButtonText()}}&nbsp;<span class="caret"></span>
    </button>
    <ul class="{{::dropdownClass}}" ng-style="{display: open ? 'block' : 'none'}">

        <li ng-show="showSelectAll">
            <a ng-click="selectAll()" href="">
                <span class="glyphicon glyphicon-ok"></span> Select All
            </a>
        </li>
        <li ng-show="showUnselectAll">
            <a ng-click="unselectAll()" href="">
                <span class="glyphicon glyphicon-remove"></span> Unselect All
            </a>
        </li>
        <li ng-show="(showSelectAll || showUnselectAll)" class="divider">
        </li>

        <li ng-if="selectedOptions.length > selectedDisplayLimit" ng-class="{disabled: selectedDisplayIndex - selectedDisplayLimit < 0}">
            <a href="" ng-click="selectedPageUp(); $event.stopPropagation()" class="text-center">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
        </li>
        <li role="presentation" ng-repeat="option in selectedOptionsView" class="active">
            <a class="item-selected" href="" ng-click="toggleItem(option); $event.stopPropagation()">
                <span class="glyphicon glyphicon-remove" ng-if="selectionLimit !== 1"></span> {{getDisplay(option)}}
            </a>
        </li>
        <li ng-if="selectedOptions.length > selectedDisplayLimit" ng-class="{disabled: selectedDisplayIndex + selectedDisplayLimit > selectedOptions.length}">
            <a href="" ng-click="selectedPageDown(); $event.stopPropagation()" class="text-center">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
        </li>
        <li ng-show="selectedOptions.length > 0" class="divider"></li>

        <li ng-show="showSearch">
            <div class="dropdown-header">
                <input type="text" class="form-control input-sm" ng-model="searchFilter" placeholder="Search..." ng-change="update()" />
            </div>
        </li>

        <li ng-show="showSearch" class="divider"></li>
        <li ng-if="unselectedOptionsFiltered.length > unselectedDisplayLimit" ng-class="{disabled: unselectedDisplayIndex - unselectedDisplayLimit < 0}">
            <a href="" ng-click="unselectedPageUp(); $event.stopPropagation()" class="text-center">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
        </li>
        <li role="presentation" ng-repeat="option in unselectedOptionsView" ng-class="{disabled : selectionLimit && selectionLimit > 1 && selectedOptions.length >= selectionLimit}">
            <a class="item-unselected" href="" ng-click="toggleItem(option); $event.stopPropagation()">
                {{getDisplay(option)}}
            </a>
        </li>
        <li ng-if="unselectedOptionsFiltered.length > unselectedDisplayLimit" ng-class="{disabled: unselectedDisplayIndex + unselectedDisplayLimit > unselectedOptionsFiltered.length}">
            <a href="" ng-click="unselectedPageDown(); $event.stopPropagation()" class="text-center">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
        </li>

        <li class="divider" ng-show="selectionLimit > 1"></li>
        <li role="presentation" ng-show="selectionLimit > 1">
            <a>{{selectedOptions.length || 0}} / {{selectionLimit}} selected</a>
        </li>

    </ul>
</div>