@font-size-base: 14px;
@font-size-small: ceil((@font-size-base * 0.85));

@line-height-base: 1.428571429;
@line-height-computed: floor((@font-size-base * @line-height-base));
@line-height-small: 1.5;

@padding-base-vertical: 6px;
@padding-base-horizontal: 12px;
@padding-small-vertical: 5px;
@padding-small-horizontal: 10px;

@border-radius-base: 4px;
@border-radius-small: 3px;

@cursor-disabled: not-allowed;

@caret-width-base: 4px;

@dropdown-bg: #fff;
@dropdown-border: rgba(0,0,0,.15);
@dropdown-divider-bg: #e5e5e5;
@dropdown-link-color: #333;
@dropdown-link-hover-color: darken(#333, 5%);
@dropdown-link-hover-bg: #f5f5f5;
@dropdown-link-active-color: #fff;
@dropdown-link-active-bg: darken(#428bca, 6.5%);
@dropdown-link-disabled-color: #777;
@dropdown-header-color: #777;

@input-bg: #fff;
@input-color: #555;
@input-border: #ccc;
@input-border-radius: @border-radius-base;
@input-border-radius-small: @border-radius-small;
@input-border-focus: #66afe9;
@input-color-placeholder: #999;
@input-height-base: (@line-height-computed + (@padding-base-vertical * 2) + 2);
@input-height-small: (floor(@font-size-small * @line-height-small) + (@padding-small-vertical * 2) + 2);

@btn-font-weight: normal;
@btn-default-color: #333;
@btn-default-bg: #fff;
@btn-default-border: #ccc;
@btn-border-radius-base: @border-radius-base;

.multiselect-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: @font-size-base;
    line-height: @line-height-base;
    color: #555;
    background-color: #fff;

    & * {
        .box-sizing(border-box);
    }

    & *:before,
    & *:after {
        .box-sizing(border-box);
    }
}

.multiselect-toggle {
    display: inline-block;
    margin-bottom: 0;
    font-weight: @btn-font-weight;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    width: 100%;
    .button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; @btn-border-radius-base);
    .user-select(none);
    .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);

    &,
    &:active,
    &.active {
        &:focus,
        &.focus {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }
    }

    &:hover,
    &:focus,
    &.focus {
        color: @btn-default-color;
        text-decoration: none;
    }

    &:active,
    &.active {
        outline: 0;
        background-image: none;
        .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
    }

    &.disabled,
    &[disabled] {
        cursor: @cursor-disabled;
        opacity: .65;
        .box-shadow(none);
    }

    & .caret {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 2px;
        vertical-align: middle;
        border-top: @caret-width-base dashed;
        border-right: @caret-width-base solid transparent;
        border-left: @caret-width-base solid transparent;
    }
}

.multiselect-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 200px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: @font-size-base;
    text-align: left;
    background-color: @dropdown-bg;
    border: 1px solid @dropdown-border;
    border-radius: @border-radius-base;
    background-clip: padding-box;
    .box-shadow(0 6px 12px rgba(0,0,0,.175));


    & > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: @line-height-base;
        color: @dropdown-link-color;
        white-space: nowrap;
        text-decoration: none;
        .text-overflow();

        &:hover,
        &:focus {
            text-decoration: none;
            color: @dropdown-link-hover-color;
            background-color: @dropdown-link-hover-bg;
        }

        &.text-center {
            text-align: center;
        }
    }

    & > .active > a {
        &,
        &:hover,
        &:focus {
            color: @dropdown-link-active-color;
            text-decoration: none;
            outline: 0;
            background-color: @dropdown-link-active-bg;
        }
    }

    & > .disabled > a {
        &,
        &:hover,
        &:focus {
            color: @dropdown-link-disabled-color;
        }

        &:hover,
        &:focus {
            text-decoration: none;
            background-color: transparent;
            background-image: none;
            cursor: @cursor-disabled;
        }
    }

    & .divider {
        height: 1px;
        margin: ((@line-height-computed / 2) - 1) 0;
        overflow: hidden;
        background-color: @dropdown-divider-bg;
    }

    & .dropdown-header {
        display: block;
        padding: 3px 20px;
        font-size: @font-size-small;
        line-height: @line-height-base;
        color: @dropdown-header-color;
        white-space: nowrap;
    }

    & .glyphicon {
        position: relative;
        top: 1px;
        display: inline-block;
        line-height: 1;

        &:before {
            display: inline-block;
        }
    }

    & .glyphicon-ok {
        &:before {
            content: "✅";
        }
    }

    & .glyphicon-remove {
        &:before {
            content: "❌";
        }
    }

    & .glyphicon-chevron-up {
        &:before {
            content: "❮";
            .rotate(90deg);
        }
    }

    & .glyphicon-chevron-down {
        &:before {
            content: "❯";
            .rotate(90deg);
        }
    }
}

.multiselect-search {
    display: block;
    width: 100%;
    height: @input-height-base;
    padding: @padding-base-vertical @padding-base-horizontal;
    font-size: @font-size-base;
    line-height: @line-height-base;
    color: @input-color;
    background-color: @input-bg;
    background-image: none;
    border: 1px solid @input-border;
    border-radius: @input-border-radius;
    .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");
    .form-control-focus();
    .placeholder();
    .input-size(@input-height-small; @padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @input-border-radius-small);
}

.button-variant(@color; @background; @border) {
    color: @color;
    background-color: @background;
    border-color: @border;

    &:focus,
    &.focus {
        color: @color;
        background-color: darken(@background, 10%);
        border-color: darken(@border, 25%);
    }

    &:hover {
        color: @color;
        background-color: darken(@background, 10%);
        border-color: darken(@border, 12%);
    }

    &:active,
    &.active {
        color: @color;
        background-color: darken(@background, 10%);
        border-color: darken(@border, 12%);

        &:hover,
        &:focus,
        &.focus {
            color: @color;
            background-color: darken(@background, 17%);
            border-color: darken(@border, 25%);
        }
    }
}

.button-size(@padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius) {
    padding: @padding-vertical @padding-horizontal;
    font-size: @font-size;
    line-height: @line-height;
    border-radius: @border-radius;
}

.input-size(@input-height; @padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius) {
    height: @input-height;
    padding: @padding-vertical @padding-horizontal;
    font-size: @font-size;
    line-height: @line-height;
    border-radius: @border-radius;
}

.form-control-focus(@color: @input-border-focus) {
    @color-rgba: rgba(red(@color), green(@color), blue(@color), .6);

    &:focus {
        border-color: @color;
        outline: 0;
        .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px @{color-rgba}");
    }
}

.box-shadow(@shadow) {
    -webkit-box-shadow: @shadow;
    box-shadow: @shadow;
}

.box-sizing(@boxmodel) {
    -webkit-box-sizing: @boxmodel;
    -moz-box-sizing: @boxmodel;
    box-sizing: @boxmodel;
}

.placeholder(@color: @input-color-placeholder) {
    &::-moz-placeholder {
        color: @color;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: @color;
    }

    &::-webkit-input-placeholder {
        color: @color;
    }
}


.rotate(@degrees) {
    -webkit-transform: rotate(@degrees);
    -ms-transform: rotate(@degrees);
    -o-transform: rotate(@degrees);
    -moz-transform: rotate(@degrees);
    transform: rotate(@degrees);
}

.transition(@transition) {
    -moz-transition: @transition;
    -webkit-transition: @transition;
    -o-transition: @transition;
    transition: @transition;
}

.text-overflow() {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-select(@select) {
    -webkit-user-select: @select;
    -moz-user-select: @select;
    -ms-user-select: @select; // IE10+
    user-select: @select;
}
