<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Angular Bootstrap Multiselect Test</title>

    <link rel="stylesheet" href="../../dist/angular-ui-multiselect.css">
</head>

<body ng-app="testApp">

    <div class="container" ng-controller="TestController">

        <h3>Test Async Data source</h3>

        <form name="asyncTest">
            <pre>Model value: {{selection1}}</pre>
            <input type="text" ng-model="itemPrefix"></input>
            <ui-multiselect ng-model="selection1" items="items" options="options"></ui-multiselect>
        </form>

    </div>

    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../dist/angular-ui-multiselect.min.js"></script>
    <script>
        angular
            .module("testApp", ["ui.multiselect"]);
        angular
            .module("testApp")
            .controller("TestController", ["$scope", "$q", "$timeout",
                function ($scope, $q, $timeout) {
                    $scope.options = {
                        bindId: false,
                        selectionLimit: 0,
                        showSearch: true
                    };
                    
                    $scope.$watch("itemPrefix", onItemPrefixChanged);
                    
                    onItemPrefixChanged();
                    
                    function onItemPrefixChanged(){
                        $scope.items = function() {
                            return $q(function (resolve, reject) {
                                $timeout(function () {
                                    resolve([$scope.itemPrefix + "1", $scope.itemPrefix + "2", $scope.itemPrefix + "3", $scope.itemPrefix + "4"]);
                                }, 1000);
                            });
                        };
                    }
                }]);
    </script>
</body>

</html>